@import "tailwindcss";



@font-face {
    font-family: bakh;
    src: url("../public/font/yekanbakh/YekanBakhFaNum-Regular.woff");
  }
  
  * {
    font-family: bakh;
    scrollbar-width: thin;
  }

